@use 'variables' as vars;

:host {
  display: inline-block;
  width: 100%;
  color: vars.$cui-text;
  font-family: sans-serif;
  
  slot {
    display: block;
  }

  ::slotted(*) {
    width: 100%;
    box-sizing: border-box;
  }
}
